<div class="header">
  <cism-month-selector></cism-month-selector>
  <div class="info desktop">
    <cism-overall-box></cism-overall-box>
    <cism-silt></cism-silt>
  </div>
</div>
<div class="flex">
  <div class="overview">
    <cism-overall-box></cism-overall-box>
    <cism-silt class="mobile"></cism-silt>
    <cism-stacked></cism-stacked>
    <cism-legend></cism-legend>
  </div>
  <div class="boxes">
    <cism-silt matTooltip="Sales Incident Lifecycle Time" matTooltipPosition="above" matTooltipClass="above" class="desktop"></cism-silt>
    <cism-stadistic-box go="priority" [title]="'by.priority' | translate"></cism-stadistic-box>
    <cism-stadistic-box go="type" [title]="'by.type' | translate"></cism-stadistic-box>
    <cism-stadistic-box go="service" [title]="'by.app_service' | translate"></cism-stadistic-box>
    <cism-stadistic-box go="status" [title]="'by.ticket_status' | translate"></cism-stadistic-box>
  </div>
</div>