<cism-month-selector></cism-month-selector>
<div class="flex">
  <div class="overview">
    <cism-overall-box></cism-overall-box>
    <cism-silt class="mobile"></cism-silt>
    <cism-stacked></cism-stacked>
    <cism-legend></cism-legend>
  </div>
  <div class="boxes">
    <cism-silt class="desktop"></cism-silt>
    <cism-stadistic-box go="priority" title="by Priority" [data]="byPriority"></cism-stadistic-box>
    <cism-stadistic-box go="type" title="by Ticket Type" [data]="byType"></cism-stadistic-box>
    <cism-stadistic-box go="service" title="by Application / Service" [data]="byApplication"></cism-stadistic-box>
    <cism-stadistic-box go="status" title="by Ticket Status" [data]="byStatus"></cism-stadistic-box>
  </div>
</div>