
@import '../../common/colors';

:host {
  display: block;
  width: 100%;
  height: calc(100vh - 125px);
  position: fixed;
  top: 85px;
  transform: translateX(100%);
  will-change: transform;
  background-color: $bg-color;
  right: 0;
  z-index: 99;
  @include mobile {
    top: 63px;
    height: calc(100vh - 93px);
  }
}