
@import '../../common/colors';

.legend-title {
  text-transform: uppercase;
  display: inline-block;
  align-self: flex-end;
}

:host {
  height: 70px;
  font-size: 1.1rem;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  @include mobile {
    display: none;
  }
}