<cism-header></cism-header>
<cism-sidenav>
  <ul class="nav">
    <li (click)="navigate('/')">Home</li>
    <li (click)="navigate('/system')">System</li>
    <li (click)="navigate('/about')">About</li>
    <li (click)="navigate('/help')">Help</li>
  </ul>
</cism-sidenav>
<div [@.disabled]="data.disabledAnimations">
  <div class="wrapper" (@routerTransitions.done)="trigger()" [@routerTransitions]="getPage(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
<cism-footer></cism-footer>