
@import '../../common/colors';

.wrapper {
    padding: 40px;
    perspective: 2000px;
    @include mobile {
        margin-bottom: 50px;
    }
    @include tablet {
        margin-bottom: 50px;
    }
}