
// Main colors
$bg-color: #151515;
$semi-white: rgba(white, .85);
$semi-black-1: lighten($bg-color, 5);
$semi-black-2: lighten($bg-color, 8);
$header-box: $semi-black-1;
$content-box: $semi-black-2;

// Colors
$blue: #00bcd4;
$grey: rgba(255,255,255, .6);
$orange: rgb(247,174,21);

// Borders
$border-radius: 7px;

// Priorities
$priority-immediate: #C1272D;
$priority-urgent: #F15A24;
$priority-normal: #22B573;
$priority-high: #F7931E;

// Graphics
$graphic-blue-dark: #039be5;
$graphic-blue: $blue;
$graphic-orange: #ffb74d;
$graphic-teal: #7e57c2;

// Shadows
$box-shadow: 2px 2px 5px rgba(0,0,0,.3);

// Transitions
@mixin transition($property) {
    transition: $property .15s ease-in-out;
}

// Mixins

$trigger: 600px;
$tablet: 1100px;

@mixin ie {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}

@mixin edge {
    @supports (-ms-accelerator:true) {
        @content;
    }
    @supports (-ms-ime-align:auto) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $trigger) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) and (min-width: $trigger) {
        @content;
    }
}

@mixin mobile-tablet {
    @include mobile {
        @content;
    }
    @include tablet {
        @content;
    }
}

@mixin tablet-desktop {
    @include desktop {
        @content;
    }
    @include tablet {
        @content;
    }
}