<div routerLink="help" class="flexed copyright">
  <div class="daimler">{{ (config$ | async).copyright }} &middot; {{ (config$ | async).appTitle }}</div>
</div>
<div class="flexed info">
  <div class="desktop">Code is Poetry</div>
  <div class="desktop">amvara-sales@amvara.de</div>
  <div class="mobile">Confidential</div>
</div>
<div routerLink="about" class="flexed version">
  <div class="desktop execution_date">Execution Date: 19.01.2021 - 09:00h</div>
  <div>v{{ (config$ | async).version }} {{ (config$ | async).language | uppercase }}</div>
</div>