
@import '../../../common/colors';

:host {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 55px;
  background-color: darken($bg-color, 3);
  padding: 5px 20px;
  @include mobile {
    height: 30px;
    padding: 5px 10px;
  }
  @include tablet {
    height: 40px;
  }
}

.flexed {
  flex: 1;
}

.version {
  text-align: right;
}
.info {
  text-align: center;
  line-height: 23px;
}

.footer {
  line-height: 45px; 
  @include mobile-tablet {
    font-size: 1.2rem;
  }
  @include mobile {
    line-height: 20px;
    font-size: 1rem;
    white-space: nowrap;
  }
  @include tablet {
    line-height: 30px;
  }
}

.mobile {
  line-height: 20px;
  font-size: 1.2rem;
  @include tablet {
    line-height: 30px;
  }
  @include mobile {
    font-size: 1rem;
  }
}

.execution_date {
  line-height: 45px;
  @include desktop {
    line-height: 27px
  }
}