<mat-accordion [multi]="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'about.config'| translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ 'about.language'| translate }}: <mat-form-field style="margin-right:20px;">
        <mat-select (selectionChange)="setLang($event.value)" [value]="config.config.language">
          <mat-option *ngFor="let lang of config.config.languageCodes | keyvalue" [value]="lang.key">{{ lang.value }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button matTooltip="Useful when the language files are cached and a refresh is needed." matTooltipPosition="after"
        matTooltipClass="after" (click)="reloadLang()" class="reload-translations" mat-raised-button>{{
        'about.reloadLanguageFiles'| translate }}</button>
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'about.thanks'| translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      We would like to thank Google for their UX Material design, which brings a new modern design and adaptable to any
      need. <a href="https://material.io/" target="_blank">See Google Material Guidelines</a>
    </p>
    <p>
      We also thank IBM for providing Cognos Analytics to business departments as the tool of choice for data analysis,
      data exploration as well as fast dashboards and pixel perfect reporting.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'about.software'| translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This mobile report has been developed by <a href="https://www.datec24.de/" target="_blank">datec24 AG</a>
      using <span>IBM Cognos Analytics</span> and <a href="https://angular.io/" target="_blank">Angular</a><br />
      The data queries were provided by the respective business department itself.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'about.licenses'| translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="software">
      <ul>
        <li>IBM Cognos Analytics 11: <a [href]="config.config.portalLink[config.config.scenario]" target="_blank">Consumer License</a></li>
        <li>Angular: <a href="https://github.com/angular/angular/blob/master/LICENSE" target="_blank">MIT License</a></li>
        <li>HammerJS: <a href="https://github.com/hammerjs/hammer.js/blob/master/LICENSE.md" target="_blank">MIT
            License</a></li>
        <li>ngx-translate: <a href="https://github.com/ngx-translate/core/blob/master/LICENSE" target="_blank">MIT
            License</a></li>
        <li>ng-connection-service: <a href="https://github.com/ultrasonicsoft/ng-connection-service/blob/master/LICENSE"
            target="_blank">MIT License</a></li>
        <li>memo-decorator: <a href="https://github.com/mgechev/memo-decorator" target="_blank">MIT License</a></li>
        <li>ngx-virtual-scroller: <a href="https://github.com/rintoj/ngx-virtual-scroller/blob/master/LICENSE"
            target="_blank">MIT License</a></li>
        <li>moment: <a href="https://github.com/moment/moment/blob/develop/LICENSE" target="_blank">MIT License</a></li>
        <li>ngx-moment: <a href="https://github.com/urish/ngx-moment/blob/master/LICENSE" target="_blank">MIT
            License</a></li>
        <li>underscore: <a href="https://github.com/jashkenas/underscore/blob/master/LICENSE" target="_blank">MIT
            License</a></li>
        <p>All packages listed above uses the latest stable version.</p>
      </ul>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'about.technical_information'| translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    Version: {{ config.config.version }}<br />
    <report-info *ngFor="let prop of reports" [prop]="prop"></report-info>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'about.changelog'| translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="changelog">
      <ul>
        <li *ngFor="let change of config.config.changelog">
          <div class="change-title">{{ change.version }}</div>
          <ul *ngIf="change.text.length > 0">
            <li *ngFor="let desc of change.text" [innerHTML]="desc"></li>
          </ul>
        </li>
      </ul>
    </div>
  </mat-expansion-panel>
</mat-accordion>