@import '../../../common/colors';

:host {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 20px;
}

.reload-translations{
    padding: 0 10px!important;
    line-height: 27px!important;
    margin: 10px 0 15px!important;
    display: block;
}

::ng-deep cism-about .mat-select-value-text {
    color: $blue;
}
::ng-deep cism-about .mat-select-arrow{
    color: $blue;
}
::ng-deep cism-about .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $blue;
}
::ng-deep cism-about .mat-form-field.mat-focused .mat-select-value-text {
    color: white;
}
::ng-deep cism-about .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-left: 1em;
}

::ng-deep cism-about .mat-expansion-panel-header {
    border-bottom: 1px solid $blue;
    margin-bottom: 1px;
}
::ng-deep cism-about .mat-expansion-panel:not([class*='mat-elevation-z']){
    box-shadow: none;
}

.changelog > ul > li {
    color: $blue;
  }
  
  .changelog ul li {
      line-height: 30px;
      list-style-type: none;
      line-height: 30px;
      li {
        &:before {
            content: "•";
            color: $blue;
            margin-right: 10px;
        }
        color: $semi-white;
        padding-left: 15px;
      }
  }