<div class="semaphore">
    <div class="status bad"></div>
    <div class="status medium"></div>
    <div class="status good active"></div>
</div>
<div class="chart">
    <div class="today"></div>
    <div class="rest">
        <div class="unit">
            <div class="header">Prev. Day</div>
            <div class="percent">99.78%</div>
            <div class="difference">
                <div class="difference-sign down"></div>
            </div>
        </div>
        <div class="unit">
            <div class="header">Prev. Week</div>
            <div class="percent">99.78%</div>
            <div class="difference">
                <div class="difference-sign up"></div>
            </div>
        </div>
        <div class="unit">
            <div class="header">Prev. Month</div>
            <div class="percent">99.78%</div>
            <div class="difference">
                <div class="difference-sign down"></div>
            </div>
        </div>
    </div>
</div>