
:host {
    display: block;
    height: 100%;
}

.content{
    width: 100% !important;
    height: 1000px !important;
}

::ng-deep .ngx-charts { 
    text{
        fill: rgba(255, 255, 255, 0.6) !important; 
    }
}

.back-button{
    width: 9%;
    height: 9%;
    padding: 10px;
    border: 0.5px solid grey;
    color: rgba(255, 255, 255, 0.6) !important;
    border-radius: 5px;
}

.back-button:hover{
    cursor: pointer;
}