
@import '../../../common/colors';

:host {
    padding: 30px 40px 20px;
    display: inline-block;
    position: relative;
    width: 100%;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: calc(100% - 80px);
        height: 1px;
        margin: auto;
        left: 0;
        right: 0;
        background-color: rgba(white, .05);
    }
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    flex: 1;
    cursor: pointer;
    max-width: 300px;
}
span {
    flex: 1;
    display: inline-block;
    font-size: 2rem;
    @include transition(font-size);
    @include mobile {
        font-size: 1.5rem;
    }
    &:last-of-type{
        margin-left: 5px;
        color: $blue;
    }
}

cism-menu-icon {
    position: absolute;
    right: 40px;
    top: 0;
    margin: auto;
    bottom: 0;
}
.nav{
    flex: 1;
    display: none;
    @include desktop{
        flex: 1;
        display: flex;
        list-style: none;
        height: inherit;
        max-width: 130px;
        justify-content: space-between;
    }

}
.nav li {
    content: "";
    flex: 1;
    text-align: center;
    height: inherit;
    outline: 0;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
    max-width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}


.navbutton{
    content: "";
    flex: 1;
    
}
.help{
    background-image: url("../../../../assets/img/src_assets_LicenseScan_Icon_Help.svg");
}
.about{
    background-image: url("../../../../assets/img/src_assets_LicenseScan_Icon_About.svg")
}
.help:hover{
    background-image: url("../../../../assets/img/src_assets_LicenseScan_Icon_Help_active.svg");

}
.about:hover{
    background-image: url("../../../../assets/img/src_assets_LicenseScan_Icon_About_active.svg");

}