
@import '../../../common/colors';

:host {
    padding: 20px 40px;
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: darken($bg-color, 10);
}
.header{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.logo{
    flex: 1;
    cursor: pointer;
    max-width: 300px;
}
span {
    flex: 1;
    display: inline-block;
    font-size: 1.8rem;
    @include transition(font-size);
    @include mobile {
        font-size: 1.5rem;
    }
    &:last-of-type{
        margin-left: 5px;
        color: $blue;
    }
}

cism-menu-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
}
.nav{
    flex: 1;
    display: none;
    @include desktop{
        display: flex;
        list-style: none;
        height: inherit;
        width: 130px;
        position: absolute;
        justify-content: space-between;
        top: -2px;
        right: 0;
    }

}
.nav li {
    content: "";
    flex: 1;
    text-align: center;
    height: inherit;
    outline: 0;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
    max-width: 30px;
    height: 32px;
    border: 1.5px solid darken($blue, 25);
    border-radius: 50%;
    &:hover {
        background-color: darken($blue, 25);
    }
    &.active {
        background-color: darken($blue, 15);
        border-color: darken($blue, 15);
    }
    &:after {
        content: "";
        position: absolute;
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        height: 18px;
        width: 18px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}


.navbutton{
    content: "";
    flex: 1;
    
}
.help:after{
    background-image: url(assets/img/CISM_Icon_Help.svg);
}
.about:after{
    background-image: url(assets/img/CISM_Icon_About.svg)
}