
:host::ng-deep ngx-charts-chart .line-chart.chart g.line-series path {
    stroke-width: 3px;
}

:host::ng-deep [ngx-combo-charts-series-vertical] {
    opacity: 0.5 !important;
}

:host {
    display: block;
    height: 270px;
}