
@import '../../common/colors';

:host {
  display: block;
  width: 100%;
  height: 45px;
  background-color: $semi-black-1;
  border-radius: $border-radius;
  padding-left: 20px;
  font-size: 1.2rem;
  box-shadow: $box-shadow;
}

::ng-deep cism-month-selector .mat-select-value-text {
  font-size: 1.05rem;
}

::ng-deep cism-month-selector .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
}

::ng-deep .no-underline .mat-form-field-underline {
  display: none;
}

::ng-deep .no-underline .mat-select-value {
  color: $semi-white;
  padding-right: 10px;
}

::ng-deep .no-underline .mat-select {
  width: 100px;
}

::ng-deep .no-underline .mat-select-arrow {
  color: $semi-white;
}