
@import '../../../common/colors';

.flex {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  height: calc(100vh - 400px);
  @include mobile {
    height: auto;
  }
  @include tablet {
    height: auto;
  }
}

.overview {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  @include mobile {
    flex-wrap: wrap;
  }
}

cism-month-selector.mobile {
  @include tablet {
    flex: 0 0 calc(33.3333333% - 15px);
  }
  @include mobile {
    flex: 1 100%;
  }
}

cism-overall-box {
  flex: 0 calc(60% - 10px);
  @include tablet {
    flex: 0 0 calc(33.3333333% - 15px);
  }
  @include mobile {
    flex: 1 100%;
    margin-top: 20px;
  }
}

cism-classification {
  flex: 0 calc(40% - 10px);
  @include tablet {
    flex: 0 0 calc(33.3333333% - 15px);
  }
  @include mobile {
    flex: 1 100%;
    margin-top: 20px;
  }
}

.change-view {
  margin: 20px 0 -45px auto;
  height: 35px;
  width: 50px;
  z-index: 9999;
  border-radius: 3px;
  position: relative;
  background-color: $bg-color;
  cursor: pointer;
  background-position: 5px 7px;
  .mat-icon {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

:host {
  display: block;
  will-change: transform;
}

mat-header-cell {
  text-align: center;
}

.mat-header-cell {
  justify-content: center;
}

mat-cell, mat-footer-cell, mat-header-cell {
  color: rgba($semi-white, .7);
}

.mat-column-id,
.mat-column-category,
.mat-column-status,
.mat-column-target,
.mat-column-time {
  justify-content: center;
}

.mat-column-updated {
  flex: 0 0 140px;
}

.mat-table {
  background: transparent !important;
  font-family: "CorpoS", "Segoe UI", "Arial", "sans-serif" !important;
}

@include mobile-tablet {
  .fixedWidth .mat-table {
    width: 1200px;
  }
}

.mat-header-cell {
  color: rgba($semi-white, .5);
  text-transform: uppercase;
}

.table {
  position: relative;
  @include mobile-tablet {
    overflow-x: auto;
  }
}

.mat-header-cell:first-child {
  flex: 0 0 90px;
}

.mat-cell:first-child {
  flex: 0 0 90px;
}

.priority-circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  &.prio-4 {
    background-color: $priority-high;
  }
  &.prio-1 {
    background-color: $priority-immediate;
  }
  &.prio-2 {
    background-color: $priority-urgent;
  }
  &.prio-3 {
    background-color: $priority-normal;
  }
}

.mat-column-priority span {
  margin-left: 10px;
}

.options-box {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  @include desktop {
    margin-left: 20px;
  }
}

.progress {
  display: block;
  width: calc(100px - 50px);
  height: 15px;
  border-radius: 2px;
  overflow: hidden;
  background-color: lighten($semi-black-2, 5);
  margin-left: 15px;
  position: relative;
  .bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darken($blue, 10);
    border-radius: 2px;
    height: inherit;
  }
}

mat-footer-row, mat-header-row, mat-row {
  border-bottom-width: 0;
  margin-bottom: 5px;
}

.mat-row {
  min-height: 40px;
  background-color: rgba($semi-black-1, .8);
  border-radius: 5px;
}

.mat-column-options {
  flex: 0 0 40px;
}

.options {
  display: block;
  height: 40px;
  width: 100%;
  background-image: url(assets/img/menu_dots.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 15px;
  background-position: center;
}

mat-cell:last-of-type {
  padding-right: 0;
}

mat-icon {
  color: rgba($semi-white, .5) !important;
}

.mat-column-subject {
  flex: 0 0 250px;
  padding: 0 10px;
}

.end-paginator {
  margin-bottom: 40px;
}

.change-view-container {
  background-color: $semi-black-1;
  border-radius: 5px;
  margin-top: 25px;
  padding: 20px 40px;
  .box-title {
    line-height: 50px;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba($semi-white, .4)
  }
  .checkboxes {
    padding: 50px 100px;
    display: flex;
    @include mobile {
      padding: 30px 10px;
      display: block;
    }
    @include tablet {
      padding: 30px 20px;
    }
    .column {
      flex: 0 0 25%;
      @include mobile {
        flex: 1 100%;
      }
      @include tablet {
        flex: 1 20%;
      }
      .mat-checkbox {
        display: block;
        height: 40px;
        ::ng-deep .mat-checkbox-label {
          text-transform: uppercase;
          margin-left: 10px;
          font-size: 1rem;
          @include mobile {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.save-changes {
  background-color: lighten($semi-black-2, 5);
  line-height: 30px;
  width: 100px;
  border-radius: 2px;
  display: block;
  margin: 0 0 10px auto;
  transition: background-color .1s ease-in-out;
  &:hover {
    background-color: darken($blue, 15);
  }
}

::ng-deep .save-changes .mat-ripple-element {
  background-color: rgba(255,255,255,.08) !important;
}