<cism-month-selector class="desktop"></cism-month-selector>
<div class="overview">
  <cism-month-selector class="mobile"></cism-month-selector>
  <cism-overall-box></cism-overall-box>
  <cism-classification></cism-classification>
</div>
<mat-paginator showFirstLastButtons [style.display]="(ticketsLength | async) && !changeView ? 'block' : 'none'"
  [pageSizeOptions]="data.pagination">
</mat-paginator>
<ng-container *ngIf="ticketsLength | async">
  <div [style.display]="changeView ? 'none' : 'block'" (click)="changeViewClick()" matTooltip="Change view"
    matTooltipPosition="above" matTooltipClass="above" matRipple [matRippleColor]="rippleColor" class="change-view">
    <mat-icon>remove_red_eye</mat-icon>
  </div>
</ng-container>
<div class="change-view-container" [style.display]="!changeView ? 'none' : 'block'">
  <div (click)="changeViewClick()" class="close">X</div>
  <div class="box-title">Ticket view</div>
  <div class="checkboxes">
    <div class="column" *ngFor="let group of config.config.columns | keyvalue | fixFilter | groupBy:3">
      <mat-checkbox *ngFor="let prop of group" (change)="checkHandler(prop.key, $event)" [checked]="isChecked(prop.key)"
        [value]="prop.key">{{ prop.key | ru }}</mat-checkbox>
    </div>
  </div>
  <div class="box-title">Options</div>
  <div class="options-box">
    <mat-checkbox (change)="saveHideClosed($event)" [checked]="data.hideClosed">HIDE CLOSED TICKETS</mat-checkbox>
  </div>
  <button class="save-changes" (click)="saveColumns()" mat-raised-button>save</button>
</div>
<div class="table" [class.fixedWidth]="fixedWidth" [style.display]="changeView ? 'none' : 'block'">
  <mat-table matSort (matSortChange)="saveSort($event)" [matSortActive]="column_active" matSortDisableClear
    [matSortDirection]="column_direction" [dataSource]="tickets" [trackBy]="getID">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>TicketID</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.id" *matCellDef="let element">{{
        element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="create_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Create Date</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.create_date | dateLocale:config.config.language |
          dateAgo"
        *matCellDef="let element">{{ element.create_date | dateLocale:config.config.language | dateFormat:'DD.MM.YYYY
        HH:mm' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="modify_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Modify Date</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.modify_date | dateLocale:config.config.language |
              dateAgo"
        *matCellDef="let element">{{ element.modify_date | dateLocale:config.config.language | dateFormat:'DD.MM.YYYY
        HH:mm' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Type</mat-header-cell>
      <mat-cell class="pointer" [routerLink]="['/tickets', 'type', element.type]" matTooltipPosition="above"
        matTooltipClass="above" [matTooltip]="element.type" *matCellDef="let element">{{
        element.type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
      <mat-cell class="pointer" [routerLink]="['/tickets', 'priority', element.priority]" matTooltipPosition="above"
        matTooltipClass="above" [matTooltip]="element.priority" *matCellDef="let element">
        <div class="priority-circle" [ngClass]="'prio-'+element.priority"></div><span>{{
          element.priority }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell class="pointer" [routerLink]="['/tickets', 'status', element.status]" matTooltipPosition="above"
        matTooltipClass="above" [matTooltip]="element.status" *matCellDef="let element">{{
        element.status }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Short Description</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.description" [matTooltip]="element.subject"
        matTooltipPosition="above" matTooltipClass="above" *matCellDef="let element">{{
        element.description | limitText:30 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="external">
      <mat-header-cell *matHeaderCellDef mat-sort-header>External</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.external" *matCellDef="let element">{{
        element.external }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="classification">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Classification</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.classification" *matCellDef="let element">{{
        element.classification }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="component">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Component</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.component" *matCellDef="let element">{{
        element.component }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="service_group">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Assigned to Servicegroup</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.service_group" *matCellDef="let element">{{
        element.service_group }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="month_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>MonthID</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.month_id" *matCellDef="let element">{{
        element.month_id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="service">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Service Label</mat-header-cell>
      <mat-cell class="pointer" [routerLink]="['/tickets', 'service', element.service]" matTooltipPosition="above"
        matTooltipClass="above" [matTooltip]="element.service" *matCellDef="let element">{{
        element.service }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Count</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.count" *matCellDef="let element">{{
        element.count }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="silt">
      <mat-header-cell matTooltip="Sales Incident Lifecycle Time" matTooltipPosition="above" matTooltipClass="above"
        *matHeaderCellDef mat-sort-header>SILT</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.silt" *matCellDef="let element">{{
        element.silt }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="done">
      <mat-header-cell *matHeaderCellDef mat-sort-header>% done</mat-header-cell>
      <mat-cell matTooltipPosition="above" matTooltipClass="above" [matTooltip]="element.done+'%'" *matCellDef="let element">30%
        <div class="progress">
          <div class="bar" [style.width.%]="30"></div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div [matMenuTriggerFor]="menuOptions" class="options"></div>
        <mat-menu #menuOptions="matMenu">
          <button (click)="goSolve(element)" mat-menu-item matRipple [matRippleColor]="rippleColor">
            <mat-icon>done</mat-icon>Resolve
          </button>
          <button mat-menu-item matRipple [matRippleColor]="rippleColor">
            <mat-icon>mode_edit</mat-icon>Edit
          </button>
          <button (click)="removeItem(element)" mat-menu-item matRipple [matRippleColor]="rippleColor">
            <mat-icon>delete</mat-icon>Remove
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="(ticketsLength | async ) && !changeView ? config.config.displayedColumns : []"></mat-header-row>
    <mat-row matRipple [matRippleColor]="rippleColor" *matRowDef="let row; columns: config.config.displayedColumns"></mat-row>
  </mat-table>
</div>