<cism-system-graphic-holder>
    <cism-system-availability></cism-system-availability>
</cism-system-graphic-holder>
<cism-system-graphic-holder>
    <cism-system-robustness></cism-system-robustness>
</cism-system-graphic-holder>
<cism-system-graphic-holder titel="Root cause"></cism-system-graphic-holder>
<cism-system-graphic-holder titel="Performance of incident resolution">
    <cism-system-performance></cism-system-performance>
</cism-system-graphic-holder>
<cism-system-graphic-holder>
    <cism-overview-management></cism-overview-management>
</cism-system-graphic-holder>
