<cism-system-graphic-holder titel="System availability">
    <cism-system-availability></cism-system-availability>
</cism-system-graphic-holder>
<cism-system-graphic-holder title="Robustness of system">
    <cism-system-robustness></cism-system-robustness>
</cism-system-graphic-holder>
<cism-system-graphic-holder title="Root cause"></cism-system-graphic-holder>
<cism-system-graphic-holder title="Performance of incident resolution">
    <cism-system-performance></cism-system-performance>
</cism-system-graphic-holder>
<cism-system-graphic-holder title="Overview of dnc/pib management">
    <cism-overview-management></cism-overview-management>
</cism-system-graphic-holder>
