<cism-system-graphic-holder titel="System availability">
    <cism-system-availability></cism-system-availability>
</cism-system-graphic-holder>
<cism-system-graphic-holder titel="Robustness of system"></cism-system-graphic-holder>
<cism-system-graphic-holder titel="Root cause"></cism-system-graphic-holder>
<cism-system-graphic-holder titel="Performance of incident resolution"></cism-system-graphic-holder>
<cism-system-graphic-holder titel="Overview of dnc/pib management"></cism-system-graphic-holder>