
@import '_breakpoints.scss';

:host {
    flex: 1 100%;
    width: 100%;
    padding: 20px 20px 30px;
    @include for-tablet-portrait-up {
        padding: 30px 30px 35px;
    }
    box-sizing: border-box;
    min-height: 350px;
    position: relative;
    font-size: 1.3rem;
}

.title {
    color: rgba(white, .7);
    font-size: 1.6rem;
    margin-bottom: 35px;
}