
:host {
    display: block;
    height: 230px;
    padding: 0 5px;
    box-sizing: border-box;
    padding-top: 20px;
}

:host::ng-deep .ngx-charts .tick text {
    fill: rgba(white, .5) !important;
}