
@import '~@angular/material/theming';
@include mat-core();
$cism-primary: mat-palette($mat-grey, 400);
$cism-accent: mat-palette($mat-blue, 300);
$cism-warn: mat-palette($mat-red);
$cism-theme: mat-light-theme($cism-primary, $cism-accent, $cism-warn);
@include angular-material-theme($cism-theme);

@import './app/common/colors';

@font-face {
    font-family: CorpoS;
    src: url(/assets/fonts/c063003t.ttf) format('truetype');
}
  
@font-face {
    font-family: CorpoSDem;
    src: url(/assets/fonts/c063004t.ttf) format('truetype');
}
  
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'CorpoS';
        src: url(/assets/fonts/c063003t.svg) format('svg');
    }
}

body, html {
    height: 100%;
    width: 100%;
    @include mobile {
        height: auto;
        width: auto;
        overflow: initial;
    }
    background-color: $bg-color;
    color: $semi-white;
    font-family: "CorpoS", "Segoe UI", "Arial", "sans-serif";
    font-size: 13px;
    @include mobile {
        font-size: 10px;
    }
    @include tablet {
        font-size: 11px;
    }
    color: $semi-white;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mat-drawer-backdrop.mat-drawer-shown{
    background-color: transparent !important;
}
app-root {
    display: block;
    height: 100%;
    width: 100%;
}
html, body { height: 100%; }
.mat-expansion-panel{
    background-color: transparent !important;
    color: white;
}
.mat-expansion-panel-header{
    background-color: transparent !important;
    color: white;
    border-color: white
}
.mat-expansion-panel-header-title{
    color: white
}
.mat-expansion-indicator::after{
    color: $blue;
}

.mat-raised-button{
    background-color: $blue;
    border: $semi-white;
    color: $semi-white;
}
.mat-expansion-panel-body  a{
    color: lighten($blue,20);
    text-decoration: none;
}
.mat-tooltip {
    font-size: 1em;
    background-color: $semi-black-2;
}
.enabled::before{
    content: '';
    margin: 0px 9px;
    background-color: #43a047;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    display: inline-block;
}
.disabled::before{
    content: '';
    margin-right: 4px;
    background-color: red;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    display: inline-block;
}
.software ul {
    list-style: none;
    
}

.mat-select-panel {
    background: $semi-black-2;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: $blue;
}

::-webkit-scrollbar-track {
    background-color: $bg-color;
}

.mat-select-panel::-webkit-scrollbar-track {
    background-color: $semi-black-2;
}

.mat-option {
    color: $semi-white;
    font-family: "CorpoS", "Segoe UI", "Arial", "sans-serif" !important;
    font-size: 1.3rem !important;
}
.mat-bottom-sheet-container {
    font-family: "CorpoS", "Segoe UI", "Arial", "sans-serif" !important;
}
.segment-key,
.actual-config{
    color: lighten($blue,20) !important;
}
.actual-config,
.mat-slide-toggle-label{
    padding-top: 20px
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: lighten($blue,20);
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(lighten($blue,20),.54);
}
.segment-main{
    padding-top: 8px
}

.chart-legend .legend-label .active .legend-label-text {
    color: lighten($blue, 20) !important;
}
.mat-expansion-panel-body{
    padding-top:  3em !important
}

.desktop {
    display: block;
    @include mobile {
        display: none !important;
    }
    @include tablet {
        display: none !important;
    }
}

.mobile {
    display: block;
    @include desktop {
        display: none !important;
    }
}

.mat-tooltip {
    background: darken($blue, 10);
    overflow: initial !important;
}

[routerlink] {
    outline: 0 !important;
}

cism-month-selector .mat-form-field-infix {
    @include tablet {
        border-top: 15px solid transparent;
    }
    @include mobile {
        border-top-width: 17px;
    }
}

.mat-tooltip.after {
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 7px solid darken($blue, 10);
        left: -7px;
    }
}

.mat-menu-content {
    padding: 0 !important;
}

.mat-menu-panel {
    background-color: $semi-black-2;
}

.mat-menu-item {
    height: 40px !important;
    color: $semi-white !important;
    line-height: 40px !important;
    mat-icon {
        transform: scale(.9);
        will-change: transform;
        backface-visibility: hidden;
        position: relative;
        bottom: 1px;
        transition: transform .2s ease-in-out;
    }
    &:hover {
        background-color: lighten($semi-black-2, 5) !important;
        color: $blue !important;
        mat-icon {
            color: $blue !important;
            transform: scale(1.1);
        }
    }
}

.solve-ticket-panel {
    display: block;
    padding: 16px 32px !important;
    background-color: $semi-black-1;
    color: $semi-white;
    solve-ticket {
        display: block;
    }
    h3 {
        color: darken($blue, 5);
    }
    .mat-form-field {
        margin-top: 20px;
        width: 100%;
    }
}