
@import '~@angular/material/theming';
@include mat-core();
$cism-primary: mat-palette($mat-grey, 400);
$cism-accent: mat-palette($mat-blue, 300);
$cism-warn: mat-palette($mat-red);
$cism-theme: mat-light-theme($cism-primary, $cism-accent, $cism-warn);
@include angular-material-theme($cism-theme);

@import './app/common/colors';
@import './app/common/breakpoints';

@font-face {
    font-family: CorpoS;
    src: url(/assets/fonts/c063003t.ttf) format('truetype');
}
  
@font-face {
    font-family: CorpoSDem;
    src: url(/assets/fonts/c063004t.ttf) format('truetype');
}
  
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'CorpoS';
        src: url(/assets/fonts/c063003t.svg) format('svg');
    }
}

body, html {
    height: 100%;
    width: 100%;
    @include mobile {
        height: auto;
        width: auto;
        overflow: initial;
    }
    background-color: $bg-color;
    color: $semi-white;
    font-family: "CorpoS", "Segoe UI", "Arial", "sans-serif";
    font-size: 13px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-root {
    display: block;
    height: 100%;
    width: 100%;
}
html, body { height: 100%; }
.mat-expansion-panel{
    background-color: transparent !important;
    color: white;
}
.mat-expansion-panel-header{
    background-color: transparent !important;
    color: white;
    border-color: white
}
.mat-expansion-panel-header-title{
    color: white
}
.mat-expansion-indicator::after{
    color: white;
}
.mat-expansion-panel:not([class*='mat-elevation-z']){
box-shadow: 0px 3px 1px -2px rgba(255, 255, 255, .2);
}