
@import '../../../../../common/colors';
@import '../../../../../common/breakpoints';

:host {
    display: block;
    flex-wrap: wrap;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    touch-action: pan-y !important;
    box-sizing: border-box;
    @include mobile {
        padding: 20px;
    }
    @include tablet {
        padding: 20px;
    }
}
@include desktop {
    :host{
        display: flex;  
        //padding: 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
                max-width: none;
        margin: 0 auto;
        touch-action: pan-y !important;
        justify-content: space-around;
    }
    .img{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .img-box{
        flex: 1;
    }
    .scroll_swipe{
        width: 219px !important;
        height: 122px !important;
    }
    .portrait_landscape{
        width: 219px !important;
        height: 122px !important;
    }
    .help-box {
        padding: 20px !important;
    }
}
@include mobile-tablet{
    .img-box{
        flex: 1 100%;
        padding-top: 35px;
    }
    .help-box{
        flex: 1 100% !important;
    }
}
@include mobile {
    .img-box{
        padding-top: 0px
    }
}
.help-box{
    max-width: 1000px;
    flex: 1;
    padding: 0px;
}

.contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &:nth-child(2) {
        margin-bottom: 30px;
    }
    &:last-child {
        margin-bottom: 10px;
    }
    .category {
        -webkit-box-flex: 1;
            -ms-flex: 1 35%;
                flex: 1 35%;
        line-height: 25px;
        padding-left: 30px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .telephones {
        -webkit-box-flex: 1;
            -ms-flex: 1 65%;
                flex: 1 65%;
        line-height: 25px;
    }
}

p {
    line-height: 20px;
    text-align: justify;
}

a {
    color: $orange;
    position: relative;
    text-decoration: none;
    &:hover:after {
        width: 100%;
    }
    &:after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        opacity: .7;
        -webkit-transition: width .2s ease-in-out;
        -o-transition: width .2s ease-in-out;
        transition: width .2s ease-in-out;
        background-color: $orange;
        bottom: -5px;
        left: 0;
        border-radius: 3px;
        right: 0;
        position: absolute;
        margin: auto;
    }
}

.helpers {
    text-align: center;
    margin: 50px 0;
    .helper {
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .portrait_landscape {
        width: 250px;
        height: 140px;
        background-image: url(assets/img/DIP_ICON_PortLandsView.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .scroll_swipe {
        width: 250px;
        height: 135px;
        background-image: url(assets/img/DIP_ICON_ScrollSwipeView.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .hand1, .hand2 {
        width: 50px;
        height: 90px;
    }
    .hand1 {
        background-image: url(assets/img/DIP_ICON_Hand1.svg);
    }
    .hand2 {
        margin-left: 80px;
        height: 95px;
        background-image: url(assets/img/DIP_ICON_Hand2.svg);
    }
}

br {
    line-height: 50px;
}
